body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 15rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.custom-input {
    border-color: #777;
}